@font-face {
  font-family:'Spline Sans Mono', monospace;
  src: url("../fuentes/SplineSansMono-VariableFont_wght.ttf")
  format('truetype')
}

body {
  background-color: #f5d6d4;
  width: 100vw;
  margin:0;


 }
.whatsapp{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
  margin-top: 13px;}
/* HEADER */
header {
  background-color: rgb(243 127 127 / 63%);
  min-height: 22vh;
  min-width: 100vw;
  overflow: auto;
  position: static;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
  flex-wrap: wrap

}
.logo{

  padding-top: 5px;
  padding-left: 10px;
  width: 1em;
  display: flex;
  flex-grow: 1;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
#titulo_header{
  font-size: 3em;
  font-family: 'Spline Sans Mono', monospace;
  text-align: center;
  line-height: 95px;
  padding-top: 15px;
  color: black;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 3;
  flex-direction: row-reverse;
  justify-content: space-around;

}
.redes_header{
  padding: 0.7em;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 10%;
  min-height: 7vmax;
  flex-grow: 1;
  align-content: flex-end;
  justify-content: space-between;

}
nav {
  background-color: rgb(255 255 255);
  position:static;
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
  min-height: 6vh;
  display: flex;
  list-style:none;
  font-size: 1.3rem;
  font-weight: bold;
  font-family:sans-serif;
  line-height: 17px;

}

/* BUTTON */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  line-height: 23px;
  outline: none;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


nav li{
  width: 22%;
  padding: 0.5em;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}
nav a{
  text-decoration: none;
  color: black;
  font-weight: 100;
}
nav a:hover{
  color:darksalmon;
  font-weight: bold;
}
main{
  width: 100%;
}

main {
  box-sizing: border-box;
  padding: 10px;
  background-color: rgb(255 255 255);
  position: static;}
h1 {
  font-family:'Spline Sans Mono', monospace;
  color: #F0B27A;
  font-weight: lighter;
  font-size: 3em;
  text-decoration: underline;
  text-align: center; }
 h4 {
   font-family:'Spline Sans Mono', monospace;
   color: #F0B27A;
   font-size: 1.2rem;
   font-style: italic;
   text-align: center;
 }
.descripcion{
  font-family: 'Trispace', sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.5rem;
  text-align: justify;
  margin: 2em;
}
.contenedor_pasos{
  text-align: center;
  width: 85%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;}
.contenedor_ingredientes{
  text-align: center;
  width: 85vw;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;}
.contenedor_ingredientes h3{
  font-family: 'Trispace', sans-serif;;
  color: #F0B27A;
  font-size: 1.6rem;
  text-align: center;
  text-align: justify;}
.contenedor_pasos h2{
  font-family: 'Trispace', sans-serif;;
  color: #F0B27A;
  font-size: 1.6rem;
  text-align: center;
  text-align: justify;}
.contenedor_pasos li{
    font-family:'Spline Sans Mono', monospace;
    font-weight: lighter;
    font-size: 0.9em;}
.contenedor_ingredientes li{
    font-family:'Spline Sans Mono', monospace;
    font-weight: lighter;
    font-size: 0.9em;
    list-style: none;}
ul {
  font-family: sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  text-align: justify;
  font-weight: lighter;}
.grupo1{
  text-align: left;
  overflow: hidden;
  height: auto;
  width: auto;}
.grupo2{
  text-align: left;
  overflow: hidden;
  width: auto;}
.paso_a_paso1{
  text-align: left;
  overflow: hidden;
  height: auto;
  width: auto;
  padding: 60px;}
.paso_a_paso2{
  text-align: left;
  overflow: hidden;
  height: auto;
  width: auto;
  padding: 60px;}
ol{
  font-family: sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  text-align: justify;}
.video_receta{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;}
  .video_receta iframe{
    width: 50%;
  }
/*FOOTER*/
footer{
  font-family: sans-serif;
  background-color: #e0e0e0;
  color: #616161;
  bottom: 0;
  height: 35vh;
  padding-top: 0.9rem;
  margin:0;
  display: flex;}
.institucional{
  box-sizing: border-box;
  height: 13.4rem;
  width: 35%;
  height: 98%;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 10px;
  overflow: inherit;
  position: relative;
  order: 1;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1
  ;}
.redes{
  box-sizing: border-box;
  height: 98%;
  width: 29%;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: inherit;
  text-align: center;
  margin-left: 0.3em;
  order: 3;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}}
.titulo3{
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1em;
  display: flex;
  align-self: center;
  justify-content: center;
  text-overflow:ellipsis;}
.insti_relleno{
  font-size: 0.80em;
  text-align: justify;
  font-style: italic;
  font-weight: 100;
  line-height: 1.5em;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  overflow:hidden;}
.vertical_1 {
    border-right: 2px solid grey;
    height: 10.9rem;
    width: 2px;
    align-self: center;
    padding: 1px;
    text-align: center;
    order: 2;}
.vertical_2 {
    border-right: 2px solid grey;
    height:10.9rem;
    width: 2px;
    align-self: center;
    order:4;
    padding: 1px;}
.t_seguinos{
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1em;

}
.iconos{
  border: 1px;
  height: 3.7rem;
  width: 100%;
  padding:1.2rem;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;}
.fb{
  position:static;
  max-width: 3.7rem;
  max-height: 3.7rem; }
.ig{
  position:static;
  max-width: 3.7rem;
  max-height: 3.7rem;}
.tw{
  position:static;
  max-width: 3.7rem;
  max-height: 3.7rem;}
.mapa_2{

  height: 97.5%;
  display: flex;
  justify-content: center;
  width: 28%;
  order:5;
  margin-left: 0.3em;
  flex-grow: 1;}
.mapa{
  width: 70%;
  display: flex;
  align-items: center;}
.mapa_2 iframe{
  align-self: center;
  width: 90%;}
/*IMAGENES*/
.imagenReceta{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-comida{
  width: 60%;
  height:auto;
  margin: auto;}
.img_fb{
  position:static;
  max-width: 3.75rem;
  max-height: 3.75rem;
  border-radius: 3.75rem;
  background-color: #FFF;
}
.img_ig{
  position:static;
  max-width:3.75rem;
  max-height:3.75rem;
  border-radius: 3.75rem;
  background-color: #FFF;}
.img_tw{
  max-width: 3.75rem;
  max-height: 3.75rem;
  border-radius: 3.75rem;
  background-color: #FFF;}
.logo_img{
  max-height: 105%;
  max-width: 9.37rem;
  border-radius: 5rem;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
/* media queries */

@media (min-width: 768px){
  nav{
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  footer{
    max-height: 35vh;
    flex-flow: row wrap;
    justify-content: space-evenly;
    overflow: hidden;
  }
  footer .institucional, .redes, .mapa_2{
    border: 1px solid white;
  }

}
@media (max-width: 767px){
  header{
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-size: 1em;
  }
  header .logo{
    height: 20%;}
  header #titulo_header{
    width: 80%;  }
  header .redes_header{
    display: none; }
  nav{
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
  nav li{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  footer{
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%; }
  footer .institucional, .redes, .mapa_2{
    width: 90%;}
  footer .vertical_1, .vertical_2{
      display: none;}
    }

@media (max-width: 575px){
      header{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        font-size: 0.6em;
        line-height: 50px;
      }
      header .logo{
        height: 20%;}
      header #titulo_header{
        width: 80%;  }
      header .redes_header{
        display: none; }
      nav{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center; }
      nav li{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
      }
      footer{
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        height: auto;
        width: 100%; }
      footer .institucional, .redes, .mapa_2{
        width: 90%;}
      footer .vertical_1, .vertical_2{
          display: none;}
      .contenedor_ingredientes{
        flex-flow: column wrap;
      }
      .contenedor_pasos{
        flex-flow: column wrap;
      }
      .paso_a_paso1, .paso_a_paso2{
        padding: 0;
      }
      main{
        background-image: url(../imagenes/zorro1.png);
        background-size: 23%;
        background-repeat: no-repeat;
        background-blend-mode: luminosity;
        background-position: 2% 2%;
      }
        }
